[client]
default-character-set = utf8mb4
port = 3306

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci
port = 3309
default-time-zone=Asia/Seoul
bind_address                    = 0.0.0.0